    body {
  		min-height: 100%;
      display: block;
  		background-color: #DEDAE7;
  		color: #2F072A;
  		margin-left: auto;
    	margin-right: auto;
  		margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;

  	}

    #wrapper {
      padding-top: 120px;
      padding-bottom: 50px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    #content {
      min-height: 100%;
    }

    #copyright {
      color: #DEDAE7;
      margin: 0;
      padding-top: 10px;
    }

  	ul {  	
  		padding-left: 0px;
  		margin-left: auto;
  		margin-right: auto;
  		list-style-type: none; 
  	}  	

    .h1 {
      font-size: 3rem;
      color: #DEDAE7;
      margin: 0px;
      padding-top: 25px;
      padding-bottom: 20px;

    }

  	.containerCenter {
  		display: flex;  		
  		justify-content: center;
  	}

    .button {
    background-color: #8F0732; 
    border: none;
    color: #DEDAE7; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }

    #backButton{
      background-color: #4E4A61; 
    }

    form {
      padding-top: 15px;
      text-align: center;
    }

    p {
      text-align: center;      
    }

    header {
      margin-top: -120px;
      height: 120px; 
      background-color: #2F072A;     
    }

    .quoteDiv {
      min-height: 320px;  
      font-family: 'Kalam', cursive;
      font-size: 2rem;
      color: #417EA3;
    }

    .menu {
      min-height: 150px;      
    }

    #quote {
      margin-top: 0px;
      padding-top: 32px;
      margin-bottom: 0px;
      padding-bottom: 32px;
    }

    #bottom {
      margin-bottom: -50px;
      height: 50px;
      background-color: #2F072A;  
    }