
body {
  min-height: 100%;
  display: block;
  background-color: #dedae7;
  color: #2f072a;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

#wrapper {
  padding-top: 120px;
  padding-bottom: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#movieQuote, #fancyQuote, a{
  width: auto;
    
}

form,
#numOfQuotes,
.quoteDiv,
.button {
  font-size: 2rem;
}

#content {
  min-height: 100%;
}

#copyright {
  color: #dedae7;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

ul {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  max-width: 100%;
}

.h1 {
  font-size: 3rem;
  color: #dedae7;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.containerCenter {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #8f0732;
  border: none;
  color: #dedae7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#backButton {
  background-color: #4e4a61;
}

form {
  padding-top: 25px;
  text-align: center;
}

input {
  max-width: 100%;
}

header {
  margin-top: -120px;
  min-height: 120px;
  background-color: #2f072a;
}

.quoteDiv {
  min-height: 10rem;
  font-family: "Kalam", cursive;
  color: #417ea3;
}

.menu {
  min-height: 20%;
}

#quote {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

#bottom {
  margin-bottom: -50px;
  height: 50px;
  background-color: #2f072a;
}

#fancyQuote {
  padding-left: 35px;
  padding-right: 34px; 
  padding-top: 16px; 
}

#movieQuote {
  padding-left: 30px;
  padding-right: 31px;
  padding-top: 16px;

}

@media (max-width: 913px) {
  ul {
    text-align: center;        
  }
  a {
    margin-bottom: 15px;
  }
}

@media (max-width: 795px) {
  #movieQuote, #fancyQuote{
    margin-bottom: 15px;
  }
}

@media (max-width: 497px) {
  .h1{   
  font-size: 2rem;
  }
 
}

@media (max-width: 397px) {
  #copyright {
    font-size: 1rem;
    align-self: baseline;
  }

  form, 
  .button,
  #numOfQuotes,
  a {
    font-size: 1.5rem;
  }
}



